OLLAMA_HOST=http://localhost:11434
OLLAMA_API_KEY= # Insira a sua chave de api do Ollama
MODEL_NAME=qwen2.5:1.5b

# Utilizei o qwen2.5:1.5b por causa da capacidade computacional da minha máquina
# Mas se quiser pode usar outro modelo